# data collection
google-api-python-client
yt-dlp

# feature extraction
open_clip_torch
sentence-transformers
opencv-python
pillow
librosa
soundfile
torch

# model + data
lightgbm
scikit-learn
scipy
pandas
pyarrow
numpy

# web app + config
fastapi
uvicorn[standard]
python-multipart
streamlit
python-dotenv
